.add-document{
    width: 60px; height: 60px; 
    background-color: #dbdbdb; 
    border-radius: 5px; 
    font-size: 35px; 
    font-family: initial; 
    margin-right: 1.5%; 
    margin-top: 1%;
}

.add-document:active {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
.remove-document:active {
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.upload-area {
    flex-wrap: wrap;
}

.document-box {
    background-color: white;
    border-radius: 4px;border: 1px;
    border-style: solid;
    border-color: #d2d6de;
    margin-bottom: 15px;
    min-height: 35px;
    line-height: 35px; 
    padding:10px
}