@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


.border-grey {
    border: 1px solid; border-color: #f4f4f4;
}

.border-right-grey{
    border-right: 1px solid; border-color: #f4f4f4;
}

.flex{
    display: flex;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex-inherit {
    display: flex;
    align-items: center;
    justify-content: inherit;
}

.relative-center{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.relative{
    position: relative;
}

.padding-zero {
    padding: 0;
}

.absolute {
    position: absolute;
}

.margin-top-2-percent{
    margin-top: 2%;
}
.margin-top-5-percent{
    margin-top: 5%;
}

.absolute-bottom-center{
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



.status{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.font-small {
    font-size: 14px;
}

.height-full{
    height: 100%;
}
.width-full{
    width: 100%;
}

.border-radius {
    border-radius: 2px;
}

.border-none{
    border: none;
}

.box-shadow-none{
    box-shadow: none;
}

.circle {
    border-radius: 50%;
}

.light-red{
    color: #f4463d;
}

.light-grey{
    color: #838383;
}

.grey{
    color: grey;
}

.background-light-grey {
    background-color: #f4f4f4;
}

.red{
    color: red;
}

.online {
    background-color: #22d88d;
    border: 3px solid white;
}
.offline {
    background-color: #bdbdc0;
    border: 3px solid white;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    body{
        background-color: #f4f4f4;

    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
}