@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b62ply');
  src:  url('fonts/icomoon.eot?b62ply#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b62ply') format('truetype'),
    url('fonts/icomoon.woff?b62ply') format('woff'),
    url('fonts/icomoon.svg?b62ply#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-avatar:before {
  content: "\e92f";
}
.icon-icon-save-contact2:before {
  content: "\e917";
}
.icon-icon-mail:before {
  content: "\e90f";
}
.icon-icon-education:before {
  content: "\e91b";
}
.icon-icon-qr:before {
  content: "\e911";
}
.icon-icon-hints:before {
  content: "\e900";
}
.icon-icon-share-outline:before {
  content: "\e901";
}
.icon-icon-share-bg:before {
  content: "\e902";
}
.icon-icon-like-outline:before {
  content: "\e903";
}
.icon-icon-like-bg:before {
  content: "\e904";
}
.icon-icon-accept:before {
  content: "\e905";
}
.icon-icon-cancel:before {
  content: "\e906";
}
.icon-icon-trash:before {
  content: "\e907";
}
.icon-icon-add:before {
  content: "\e908";
}
.icon-icon-block:before {
  content: "\e909";
}
.icon-icon-next:before {
  content: "\e90a";
}
.icon-icon-back:before {
  content: "\e90b";
}
.icon-icon-call-mobile:before {
  content: "\e90c";
}
.icon-icon-call-office:before {
  content: "\e90d";
}
.icon-icon-call:before {
  content: "\e90e";
}
.icon-icon-website:before {
  content: "\e910";
}
.icon-icon-call-mobile2:before {
  content: "\e912";
}
.icon-icon-scan-other:before {
  content: "\e913";
}
.icon-icon-nearby:before {
  content: "\e914";
}
.icon-icon-share2:before {
  content: "\e915";
}
.icon-icon-save-contact:before {
  content: "\e916";
}
.icon-icon-call2:before {
  content: "\e918";
}
.icon-icon-edit:before {
  content: "\e919";
}
.icon-icon-setting:before {
  content: "\e91a";
}
.icon-icon-zoomin:before {
  content: "\e91c";
}
.icon-icon-zoomout:before {
  content: "\e91d";
}
.icon-icon-mobile:before {
  content: "\e91e";
}
.icon-icon-edit2:before {
  content: "\e91f";
}
.icon-icon-setting2:before {
  content: "\e920";
}
.icon-icon-magnifier:before {
  content: "\e921";
}
.icon-icon-zoomin2:before {
  content: "\e922";
}
.icon-icon-share3:before {
  content: "\e923";
}
.icon-icon-add-link:before {
  content: "\e924";
}
.icon-icon-linked:before {
  content: "\e925";
}
.icon-icon-unlink:before {
  content: "\e926";
}
.icon-icon-delete-block:before {
  content: "\e927";
}
.icon-icon-call-wifi:before {
  content: "\e928";
}
.icon-icon-call3:before {
  content: "\e929";
}
.icon-icon-message:before {
  content: "\e92a";
}
.icon-icon-more:before {
  content: "\e92b";
}
.icon-icon-group:before {
  content: "\e92c";
}
.icon-icon-delete:before {
  content: "\e92d";
}
.icon-icon-working:before {
  content: "\e92e";
}
.icon-icon-education2:before {
  content: "\e930";
}
.icon-icon-expand:before {
  content: "\e931";
}
.icon-icon-collapse:before {
  content: "\e932";
}
.icon-icon-next2:before {
  content: "\e933";
}
.icon-icon-back2:before {
  content: "\e934";
}
.icon-icon-view-outline:before {
  content: "\e935";
}
.icon-icon-date-time-outline:before {
  content: "\e936";
}
.icon-icon-view:before {
  content: "\e937";
}
.icon-icon-date-time:before {
  content: "\e938";
}
.icon-icon-comment-outline:before {
  content: "\e939";
}
.icon-icon-comment:before {
  content: "\e93a";
}
.icon-icon-loved-outline:before {
  content: "\e93b";
}
.icon-icon-loved:before {
  content: "\e93c";
}
.icon-icon-share-outline2:before {
  content: "\e93d";
}
.icon-icon-like-outline2:before {
  content: "\e93e";
}
.icon-icon-64:before {
  content: "\e93f";
}
.icon-icon-like2:before {
  content: "\e940";
}
.icon-icon-calendar-outline:before {
  content: "\e941";
}
.icon-icon-calendar:before {
  content: "\e942";
}
.icon-icon-play-video:before {
  content: "\e943";
}
.icon-icon-location:before {
  content: "\e944";
}
.icon-icon-message2:before {
  content: "\e945";
}
.icon-icon-flash:before {
  content: "\e946";
}
.icon-icon-camera-roll:before {
  content: "\e947";
}
.icon-icon-scan-qr:before {
  content: "\e948";
}
.icon-icon-scan-qr-outline:before {
  content: "\e949";
}
.icon--icon-save-image-:before {
  content: "\e94a";
}
.icon-icon-business-list:before {
  content: "\e94b";
}
.icon-icon-business-thumbnails:before {
  content: "\e94c";
}
.icon-icon-refine-filter:before {
  content: "\e94d";
}
.icon-icon-claimer-list:before {
  content: "\e94e";
}
.icon-icon-claimer-thumbnails:before {
  content: "\e94f";
}
.icon-icon-slider:before {
  content: "\e950";
}
.icon-icon-zoomout2:before {
  content: "\e951";
}
.icon-icon-slider2:before {
  content: "\e952";
}

